* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* font-weight: bold; */
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  color: var(--mainGrey);
}

:root {
  --primaryColor: #2da1ad;
  --mainGrey: #bbc4c3;
  --borderGrey: #eaeaea;
  --shadowGrey: #e3e3e3;
  --backgroundWhite: #ffffff;
  --outlineGrey: rgba(187, 196, 195, 0.3);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-top {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 0 14px 0;
  height: 53px;
}

.logo-bottom {
  background-color: var(--primaryColor);
  opacity: 0.3;
  height: 7px;
  opacity: 0.3;
  transform: scaleY(-1);
}

header {
  height: 60px;
  width: auto;
}

header > div > img {
  height: 18.45px;
  width: 178.22px;
  margin: 0 auto;
}

nav {
  display: inline;
  height: 120px;
}

nav > div {
  display: inline-block;
}

nav > div > a {
  display: inline-block;
  margin: 35px 25px;
  padding: 4px 15px;
  text-decoration: none;
  color: var(--mainGrey);
}

.link > a {
  color: var(--primaryColor);
}

.line1 {
  box-sizing: border-box;
  font-size: 12px;
  height: 15px;
  width: 3px;
  border-right: 1px solid var(--mainGrey);
}

.search-container {
  border-top: 1px solid var(--primaryColor);
  height: 180px;
  width: 92%;
  max-width: 1440px;
  padding: 61px;
}

.search-bar {
  box-sizing: border-box;
  height: 60px;
  width: 538px;
  border: 1px solid var(--borderGrey);
  border-radius: 4px;
  background-color: var(--backgroundWhite);
  box-shadow: 0 2px 34px 0 var(--shadowGrey);
}

.search-icon {
  background: url('../assets/Icons/search/Combined\ Shape.svg');
  height: 18px;
  width: 17px;
  display: block;
  margin: 23px 0 19px 23px;
}

input {
  padding: 4px 22px;
  width: 496px;
  border: none;
  margin: 17px 0 13px;
  outline: none;
  color: var(--primaryColor);
  font-size: 18px;
  text-align: left;
}

/* CONTACTS */
.hide {
  display: none;
}

.contacts-container {
  width: 94%;
  max-width: 1440px;
  padding: 0 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

/* ADD NEW CONTACT*/
.addNew {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 270px;
  border: 1px dashed var(--primaryColor);
  opacity: 0.5;
  border-radius: 4px;
  margin: 0px 15px 29px 15px;
  padding: 52px 104px 50px 104px;
  background-color: transparent;
  cursor: pointer;
}

.add-icon {
  background: url('../assets/Icons/add/Combined\ Shape.svg');
  height: 18px;
  width: 18px;
}

.add-text {
  height: 19px;
  width: 62px;
  color: var(--primaryColor);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0.5;
}

/* CONTACTS  */
.contact-card {
  display: grid;
  height: 150px;
  width: 270px;
  border: 1px solid rgba(187, 196, 195, 0.4);
  border-radius: 4px;
  background-color: var(--backgroundWhite) Z;
  margin: 0 15px 29px 15px;
}

/* CONTACT CARD*/
.contact-card:hover {
  border: 1px solid var(--primaryColor);
}

.contact-top {
  display: grid;
  grid-template-columns: 15% 50% 20% 15%;
  grid-template-rows: 30% 70%;
  cursor: pointer;
  height: 105px;
}

.favorite {
  cursor: pointer;
}

.marked-heart-icon {
  background: url('../assets/Icons/heart\ full-1/Combined\ Shape.svg');
  width: 15px;
  height: 14px;
  margin: 15px 0 0 17px;
}

.unmarked-heart-icon {
  background: url('../assets/Icons/heart\ empty-1/Combined\ Shape.svg');
  width: 15px;
  height: 14px;
  margin: 15px 0 0 17px;
}

.img-icon {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  margin: 26px 0 0 61.5px;
  outline: 3px var(--primaryColor);
}

.img-icon > img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  outline: 3px solid var(--outlineGrey);
}

.contact-card:hover > .contact-top > .hide {
  display: block;
}
.edit-icon {
  width: 16px;
  height: 16px;
  background: url('../assets/Icons/edit/Combined\ Shape.svg');
  margin: 15px 2px 0 22.5px;
  cursor: pointer;
}

.edit-box {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-icon {
  /* display: block; */
  height: 17px;
  width: 13px;
  background: url('../assets/Icons/delete/Combined\ Shape.svg');
  margin: 15px 17px 0 10.5px;
  cursor: pointer;
}

.contact-bottom {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.name-output {
  color: var(--mainGrey);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-bottom: 23px;
}

/* ADD NEW CONTACT*/
.add-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.add-circle {
  height: 186px;
  width: 186px;
  border-radius: 50%;
  outline: 3px solid var(--outlineGrey);
  background-color: rgba(45, 161, 173, 0.4);
  margin-top: 57px;
}

#upload-box {
  height: 0;
  width: 0;
  overflow: hidden;
}

.upload-icon {
  background: url('../assets/Icons/upload/Combined\ Shape.svg');
  height: 20px;
  width: 23px;
  cursor: pointer;
}

.uploaded-image {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  display: block;
}

.right-section {
  margin: 22px;
}

.arrow-back-icon {
  background: url('../assets/Icons/arrow\ back/Combined\ Shape.svg');
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
  margin: 99px 12px 36px 12px;
}

/* CONTACT DETAILS OUTPUT  */
.output-container {
  width: 630px;
  border-top: 2px solid var(--primaryColor);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.num-output-container {
  width: 630px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.details-icons {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  width: 75px;
  padding-top: 80px;
}

.name-output-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.details-name > h4 {
  margin: 60px 0 0 12px;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 34px;
}

.email-box {
  padding: 63px 63px 20px 63px;
}

.email-box > h5 {
  padding: 17px 0px 0px 55px;
}

.numbers-box {
  padding: 42px 55px 20px 63px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.numbers-values {
  display: flex;
  justify-content: space-between;
}
.numbers-values > h5 {
  padding: 20px 0px 20px 0px;
  display: flex;
}

.numbers-values > h4 {
  padding: 20px 0px 20px 20px;
  font-size: 16px;
}

.number-text {
  display: flex;
  padding-right: 32px;
}
.number-text > h4 {
  display: flex;
  padding: 19px 0px 0px 0px;
  color: var(--primaryColor);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

/* NAME */
.input-container {
  width: 630px;
  border-top: 2px solid var(--primaryColor);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.output .header-box {
  display: flex;
}

.header-text {
  margin-top: 17px;
  color: var(--primaryColor);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.input-bar {
  height: 60px;
  width: 300px;
  border: 1px solid var(--mainGrey);
  opacity: 0.4;
  border-radius: 4px;
  margin: 22px 0px 30px 0px;
  color: rgb(86, 86, 86);
  font-size: 16px;
  padding-left: 30px;
}

.source-number {
  height: 60px;
  width: 240px;
  border: 1px solid rgba(86, 86, 86, 0.4);
  border-radius: 4px;
  background-color: var(--backgroundWhite);
  opacity: 0.4;
  color: rgba(86, 86, 86, 0.5);
  margin: 22px 29px 30px 30px;
  padding-left: 30px;
}

.edit-delete-icons {
  width: 90px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 98px;
  background-repeat: no-repeat;
}

.edit-delete-icons > div {
  margin: 0;
}

.name-icon {
  background: url('../assets/Icons/person/Combined\ Shape.svg');
  width: 15px;
  height: 15px;
  margin: 19px 15px 0 0;
}

.email-icon {
  background: url('../assets/Icons/email/Combined\ Shape.svg');
  height: 10px;
  width: 15px;
  margin: 19px 15px 0 0;
}

.phone-icon {
  background: url('../assets/Icons/phone/Combined\ Shape.svg');
  width: 15px;
  height: 15px;
  margin: 20px 15px 0 0;
}

.remove-number-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid var(--mainGrey);
  margin: 22px 0 26px 0;
  cursor: pointer;
}

.remove-number-icon {
  background: url('../assets/Icons/remove/Combined\ Shape.svg');
  background-size: 12px;
  width: 12px;
  height: 12px;
  opacity: 0.5;
  transform: rotate(45deg);
  filter: invert(82%) sepia(8%) saturate(154%) hue-rotate(124deg)
    brightness(93%) contrast(92%);
}

.add-number-container {
  display: flex;
  align-items: center;
  margin: 14px 0 24px 0;
}

.add-number-circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  opacity: 0.5;
  border: 1px solid var(--primaryColor);
  cursor: pointer;
}

.add-number-icon {
  background: url('../assets/Icons/remove/Combined\ Shape.svg');
  background-size: 12px;
  width: 12px;
  height: 12px;
  filter: invert(58%) sepia(26%) saturate(1133%) hue-rotate(137deg)
    brightness(89%) contrast(82%);
}

.add-number-text {
  margin-left: 15px;
  color: var(--primaryColor);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  display: block;
}

.form-circle img {
  border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-bar.success input {
  border-color: var(--primaryColor);
}

.err-msg {
  display: inline-block;
  color: red;
  font-size: 11px;
  height: 14px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.save-button {
  height: 42px;
  width: 160px;
  border-radius: 28.5px;
  background-color: var(--primaryColor);
  border: none;
  color: var(--backgroundWhite);
  font-size: 14px;
  line-height: 17px;
  margin: 80px 0 78px 0;
  cursor: pointer;
}

.cancel-button {
  height: 42px;
  width: 160px;
  border-radius: 28.5px;
  background-color: var(--mainGrey);
  border: none;
  color: var(--backgroundWhite);
  margin: 80px 0px 78px 0px;
  cursor: pointer;
  text-decoration: none;
}

.cancel-button > a > h4 {
  text-decoration: none;
  color: white;
  font-weight: 600px;
  font-size: 14px;
  line-height: 17px;
}

/* DELETE MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  z-index: 10;
  background-color: var(--backgroundWhite);
  width: 700px;
  box-shadow: 0 0 14px 0 rgba(99, 109, 255, 0.27);
  height: 240px;
  width: 480px;
  max-width: 32%;
  border-radius: 4px;
  font-weight: 16px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header > h4 {
  text-align: left;
  padding: 20px 32px;
}

.modal-body {
  padding: 20px 32px;
  text-align: justify;
  border-top: 2px solid var(--outlineGrey);
}

.cancel-delete {
  height: 42px;
  width: 160px;
  border-radius: 28.5px;
  background-color: var(--mainGrey);
  border: none;
  color: var(--backgroundWhite);
  margin: 32px 30px;
  cursor: pointer;
  text-decoration: none;
}

.delete-button {
  height: 42px;
  width: 160px;
  border-radius: 28.5px;
  background-color: var(--primaryColor);
  border: none;
  color: var(--backgroundWhite);
  font-size: 14px;
  line-height: 17px;
  margin: 32px 30px;
  cursor: pointer;
}

.modal-body > a {
  margin: 0;
}

.modal-body > h4 {
  line-height: 28px;
  font-size: 16px;
}

.cancel-delete > h4 {
  color: var(--backgroundWhite);
  font-size: 14px;
  line-height: 17px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* RESPONSIVE*/
@media screen and (min-width: 600px) and (max-width: 1366px) {
  .modal {
    width: 400px;
    height: 360px;
  }
  .modal > .buttons {
    display: flex;
    flex-direction: column-reverse;
  }
  .cancel-delete {
    margin: auto;
  }
  .delete-button {
    margin: 20px auto;
  }
  .modal-body {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 8px) and (max-width: 1366px) {
  .output-container {
    width: 500px;
  }
  .input-container {
    width: 500px;
  }
  .input-bar {
    width: 240px;
  }
  .source-number {
    width: 170px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
  .contacts-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contacts-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .addNew {
    margin: 0 auto 29px auto;
  }
  .contact-card {
    margin: 0 auto 29px auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .search-bar > input {
    width: 70%;
  }
  .contacts-container {
    grid-template-columns: repeat(1, 1fr);
    width: 94%;
  }
  .addNew {
    flex-direction: row;
    height: 100px;
    width: 400px;
    margin: 0 auto 20px auto;
    padding: 0 200px 0 6px;
  }
  .contact-card {
    height: 100px;
    width: 400px;
    margin: 0 auto 29px auto;
  }
  .contact-top {
    grid-template-columns: 15% 64% 1% 1%;
    grid-template-rows: 30% 70%;
  }
  .favorite {
    grid-column-start: 2;
    margin: 48px 0 0 140px;
  }
  .img-icon {
    width: 46px;
    height: 46px;
    grid-column-start: 0;
    grid-column-end: 1;
    margin: 0 10px 0 20px;
  }
  .img-icon > img {
    width: 46px;
    height: 46px;
  }
  .contact-bottom {
    position: absolute;
    margin: 44px 4px 4px 88px;
    height: 50px;
  }
  .name-output {
    margin-right: 10px;
  }
  .edit-icon {
    margin-left: 240px;
  }
  .delete-icon {
    margin: 14px 0 0 220px;
  }
  .modal {
    width: 400px;
    height: 360px;
  }
  .modal > .buttons {
    display: flex;
    flex-direction: column-reverse;
  }
  .cancel-delete {
    margin: auto;
  }
  .delete-button {
    margin: 12px auto;
  }
  .modal-body {
    margin-bottom: 40px;
  }
}

/* SMALL MOBILE */
@media screen and (max-width: 600px) {
  .contacts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
