<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact list</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/add.js"></script>
</head>

<body>
    <header>
        <div class="logo-top">
            <img src="../assets/images/logo/Shape.svg" alt="logo">
        </div>
        <div class="logo-bottom"></div>
    </header>
    <main class="add-main">
        <section class="add-container">
            <div class="left-section">
                <div class="add-circle flex">
                    <div class="upload-icon flex"></div>
                </div>
                <div id="upload-box">
                    <input id="upfile" type="file" name="image" />
                </div>
            </div>
            <div class=" right-section">
                <a href='../../index.html'>
                    <div class="arrow-back-icon"></div>
                </a>
                <form id="addForm" name="addForm">
                    <div class=" input-container">
                        <div class="header-box flex">
                            <div class="name-icon"></div>
                            <label for="fullname" class="header-text">full name</label>
                        </div>
                        <div>
                            <input name="fullname" id="fullname" placeholder="First & Last name" class="input-bar">
                            <div class="err-msg"></div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="header-box flex">
                            <div class="email-icon"></div>
                            <label for="email" class="header-text">email</label>
                        </div>
                        <div>
                            <input name="email" id="email" placeholder="Email" class="input-bar">
                            <div class="err-msg "></div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="header-box flex">
                            <div class="phone-icon"></div>
                            <label class="header-text">numbers</label>
                        </div>
                        <div class="numbers-container">
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="cancel-button flex">
                            <a href="../../index.html">
                                <h4>Cancel</h4>
                            </a>
                        </div>
                        <!-- <button type="cancel" class="cancel-button flex">Cancel</button> -->

                        <button form="addForm" type="submit" class="save-button" value="submit">Save</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

</html>