<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact list</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/details.js"></script>
</head>

<body>
    <header>
        <div class=" logo-top">
            <img src="../assets/images/logo/Shape.svg" alt="logo">
        </div>
        <div class="logo-bottom"></div>
    </header>
    <main>
        <section id="contact-details" class="add-container">
            <!-- <div class=" left-section">
                <div class="add-circle flex"></div>
                <div id="upload-box">
                    <input id="upfile" type="file" name="image" />
                </div>
            </div>
            <div class="right-section">
                <div class="name-output-container">
                    <div class="details-name flex">
                        <a href='../../index.html'>
                            <div class="arrow-back-icon"></div>
                        </a>
                        <h4>Addie Hernandez</h4>
                    </div>
                    <div class="details-icons">
                        <div class="unmarked-heart-icon favorite"></div>
                        <a href="../views/edit.html" class="">
                            <div class="edit-icon"></div>
                        </a>
                    </div>
                </div>
                <div class="output-container">
                    <div class="email-box flex">
                        <div class="email-icon"></div>
                        <h4 class="header-text">email</h4>
                        <h5 class="output-value-box">addie.hernandez@gmail.com</h5>
                    </div>
                    <div class="numbers-box flex">
                        <div class="number-text">
                            <div class="phone-icon"></div>
                            <h4 class="details-text">numbers</h4>
                        </div>
                        <div class="number-boxes-container">
                            <div class="numbers-values">
                                <h5 class="output-value-box">HOME</h5>
                                <h4 class="">+385 21 216 440</h4>
                            </div>
                            <div class="numbers-values">
                                <h5 class="output-value-box">MOBILE</h5>
                                <h4 class="">+385 99 216 440</h4>
                            </div>
                            <div class="numbers-values flex">
                                <h5 class="output-value-box">MOBILE</h5>
                                <h4 class="">+385 99 216 440</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

    </main>
</body>

</html>