<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact list</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/edit.js"></script>
</head>

<body>
    <header>
        <div class="logo-top">
            <img src="../assets/images/logo/Shape.svg" alt="logo">
        </div>
        <div class="logo-bottom"></div>
    </header>
    <main>
        <section id="edit-details" class="add-container">
            <!-- <div class="left-section">
                <div class="add-circle flex">
                    <div class="upload-icon flex"></div>
                </div>
                <div id="upload-box">
                    <input id="upfile" type="file" name="image" />
                </div>
            </div>
            <div class=" right-section">
                <a href='../../index.html'>
                    <div class="arrow-back-icon"></div>
                </a>
                <form id="addForm" action="../../index.html" name="addForm" onsubmit="">
                    <div class=" input-container">
                        <div class="header-box flex">
                            <div class="name-icon"></div>
                            <h4 class="header-text">full name</h4>
                        </div>
                        <input name="fullname" id="fullname" placeholder="First & Last name" class="input-bar"
                            pattern="[a-zA-Z\s]{5,}">
                    </div>
                    <div class="input-container">
                        <div class="header-box flex">
                            <div class="email-icon"></div>
                            <h4 class="header-text">email</h4>
                        </div>
                        <input type="email" name="email" id="email" placeholder="Email" class="input-bar">
                    </div>
                    <div class="input-container">
                        <div class="header-box flex">
                            <div class="phone-icon"></div>
                            <h4 class="header-text">numbers</h4>
                        </div>
                        <div class="numbers-container">
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="../../index.html">
                            <div class="cancel-button flex">
                                <h4>Cancel</h4>
                            </div>
                        </a>
                        <button form="addForm" type="submit" class="save-button" value="save">Save</button>
                    </div>
                </form>
            </div> -->
    </main>
</body>

</html>