<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact list</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo-top">
            <!-- <a href="../../index.html"> -->
            <img src="../assets/images/logo/Shape.svg" alt="logo">
            <!-- </a> -->
        </div>
        <div class="logo-bottom"></div>
    </header>
    <main>
        <nav>
            <div>
                <a href="../../index.html">All contacts</a>
            </div>
            <div class="line1"></div>
            <div class="link">
                <a href="#">My favorites</a>
            </div>
        </nav>
        <section>
            <main>HELLO FROM MY FAVORITES</main>
        </section>
    </main>
</body>

</html>